.container {
    width: 1100px;
    margin: 10px auto;
}

#nav-bar {
    height: 30px;
    /* background-color: aquamarine; */
    margin: 10px 0;
}

#logo {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 20px;
}

#nav-menu {
    float: right;
    line-height: 30px;
    vertical-align: middle;
}

#nav-menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: 500;
}

#main-banner {
    height: 200px;
    /* background-color: aqua; */
    border: 1px solid black;
    margin: 10px 0;
}

#content-area {
    display: flex;
}

#menu-group {
    width: 200px;
    box-sizing: border-box;
}

#info-menu-container {
    height: 350px;
    /* background-color: yellowgreen; */
    box-sizing: border-box;
    border-top: solid 2px gray;
    padding: 10px 0;
}

#my-picture {
    width: 100px;
    height: 100px;
<<<<<<< HEAD
<<<<<<< HEAD
    /* background-color: lime; */
=======
    background-color: lime;
>>>>>>> 6d7751a89a5274387fba793eb798066690810a6d
=======
    background-color: lime;
>>>>>>> 6d7751a89a5274387fba793eb798066690810a6d
    margin: 20px auto;
    text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.img-item{
    width: 100%;
}

=======
>>>>>>> 6d7751a89a5274387fba793eb798066690810a6d
=======
>>>>>>> 6d7751a89a5274387fba793eb798066690810a6d
#nick-name {
    text-align: center;
    margin-bottom: 20px;
}

.my-menu {
    padding: 10px 0 10px 20px;
    border-top: solid 1px lightgray;
}

.my-menu:last-child {
    border-bottom: solid 2px gray;
}

.my-menu a {
    text-decoration: none;
    color: black;
}

/* #my-info {
    height: 200px;
    box-sizing: border-box;
} */

#my-menu-continer {
    height: 100px;
    box-sizing: border-box;
}

#menu-container {
    /* background-color: lightgreen; */
    box-sizing: border-box;
    margin-top: 10px;
}

.cafe-menu ul{
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px lightgray;
}

.cafe-menu:first-child {
    border-top: solid 2px gray;
}

.cafe-menu:last-child {
    border-bottom: solid 2px gray;
}

#favorite-menu {
    font-weight: bold;
}

.cafe-menu a {
    text-decoration: none;
    color: black;
}

#main-group {
    width: 900px;
}

#main-content {
    height: 300px;
    background-color: yellow;
    box-sizing: border-box;
    margin-left: 10px;
}

#ad {
    height: 200px;
    background-color: cyan;
    margin-top: 10px;
    margin-left: 10px;
}

#cafe-contents {
    height: 200px;
    background-color: navajowhite;
    margin-top: 10px;
    margin-left: 10px;
}