body {
  margin: 0;
  padding: 0;
}

.login{
    text-align: right;
}
#login {
    background-color: #a29bfe;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
  }
  
.logo-container {
    text-align: center;
}

#ssgga-logo {
    height: 150px;
    margin: 30px 0;
}

.search form{
  width: 100%;
  /* position: relative; */
  display: flex;
}

.search-bar-container{
  width: 800px;
  /* position: absolute; */
  /* top: 35%; */
  margin: 30px auto;
  /* transform: translate(-50%, -50%); */
}

.searchTerm {
  width: 100%;
  font-size: 18px;
  border: 3px solid #a29bfe;
  border-right: none;
  padding: 2px;
  padding-left: 8px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

#searchButton {
  width: 60px;
  height: 50px;
  border: 1px solid rgb(93, 152, 160);
  background: #a29bfe;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#search-icon {
  width: 90%;
}

#cafe-container {
  width: 800px;
  padding: 50px 0;
  margin: 0 auto; 
}

#cafe-example-container {
    /* position: absolute;     */
    display: flex;
    /* top: 50%;
    left: 25%; */
    justify-content: space-between;
    margin-bottom: 60px;
}

#cafe-example-container *.cafe-example {
    width: 150px;
    height: 150px;
    /* border: 3px solid #a29bfe; */
    border-radius: 10px;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* margin-right: 50px; */
}

.fake_icon {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#cafe-real-container {
    /* position: absolute;     */
    display: flex;
    justify-content: space-between;
    /* top: 75%;
    left: 25%; */
    font-size: 20px;
    /* text-align: center;
    vertical-align: middle; */
}
#cafe-real-container *.cafe-real{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center;
    margin-right: 50px; */
}

#cafe_icon {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.cafe_usermade{
    width: 150px;
    height: 150px;
    border: 3px solid #a29bfe;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#plus{
    height: 70px;
}