.container {
    width: 1100px;
    margin: 10px auto;
    height: auto;
}

#nav_bar {
    height: 30px;
    /* background-color: aquamarine; */
    margin: 10px 0;
}

#logo img {
    width: 100px;
}

#nav_menu {
    float: right;
    line-height: 30px;
    vertical-align: middle;
}

#nav_menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: 500;
}

#main_banner {
    height: 200px;
    /* background-color: aqua; */
    border: 1px solid black;
    margin-top: 10px 0;
    margin-bottom: 20px;
}

#content_area {
    display: flex;
}

#menu_group {
    width: 200px;
    box-sizing: border-box;
}

#info_menu_container {
    height: 350px;
    /* background-color: yellowgreen; */
    box-sizing: border-box;
    border-top: solid 2px gray;
    padding: 10px 0;
}

#my_picture {
    width: 100px;
    height: 100px;
    background-color: lime;
    margin: 20px auto;
    text-align: center;
}

#nick_name {
    text-align: center;
    margin-bottom: 20px;
}

.my_menu {
    padding: 10px 0 10px 20px;
    border-top: solid 1px lightgray;
}

.my_menu:last-child {
    border-bottom: solid 2px gray;
}

.my_menu a {
    text-decoration: none;
    color: black;
}

/* #my-info {
    height: 200px;
    box-sizing: border-box;
} */

#my_menu-continer {
    height: 100px;
    box-sizing: border-box;
}

#menu_container {
    /* background-color: lightgreen; */
    box-sizing: border-box;
    margin-top: 20px;
}

.cafe_menu ul{
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px lightgray;
}

.cafe_menu:first-child {
    border-top: solid 2px gray;
}

.cafe_menu:last-child {
    border-bottom: solid 2px gray;
}

#favorite_menu {
    font-weight: bold;
}

.cafe_menu a {
    text-decoration: none;
    color: black;
}

#main_group {
    width: 900px;
    margin-left: 20px;
}

#main_content {
    height: 300px;
    background-color: yellow;
    box-sizing: border-box;
   
}

#ad {
    height: 200px;
    /* background-color: cyan; */
    margin-top: 20px;
    background: url(./likelion_ad.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#cafe_contents {
    height: 200px;
    background-color: navajowhite;
    margin-top: 20px;
}