{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{my_post.title}}</title>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>
    <div class="container">

        <div id="nav-bar">
            <a href="" id="logo">SSG-GA</a>
            <div id="nav-menu">
                <a href="" id="profile">Profile</a>
                <a href="" id="log-out">Log Out</a>
            </div>
        </div>

        <a href="./cafe_main.html">
            <div id="main-banner">메인 배너</div>
        </a>

        <div id="content-area">

            <div id="menu-group">
                <div id="info-menu-container">
                    <div id="my-info">
                        <div id="my-picture">
                            <img src="{{ profile.image.url }}" alt="user_img" id="my-picture-size">
                        </div>
                        <h3 id="nick-name">{{profile.nickname}}</h3>
                    </div>
                    <div id="my-menu-container">
                        <div class="my-menu"><a href="">내가 쓴 글</a></div>
                        <div class="my-menu"><a href="">댓글 단 글</a></div>
                        <div class="my-menu"><a href="">내 스크랩</a></div>
                    </div>
                </div>
                <div id="menu-container">
                    <div class="cafe-menu">
                        <ul id="favorite-menu"><a href="">즐겨찾는 게시판</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">전체글보기</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">자유게시판</a></ul>
                    </div>
                </div>
            </div>

            <div id="main-group">
                <div id="wrap">
                    <div id="bulletin_title">
                        게시판 이름
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <table id="table">
                            <div id="info">
                                <tr>
                                    <th>닉네임: </th>
                                    <td><input id="nickname" type="text" placeholder="닉네임" name="nickname" value="{{my_post.nickname}}"/></td>
                                </tr>
                                <tr>
                                    <th>비밀번호: </th>
                                    <td><input id="password" type="password" placeholder="비밀번호" name="password" value="{{my_post.password}}" /></td>
                                </tr>
                            </div>
                        </table>
                
                        <div id="writing">
                            <p id="title_container">
                                <input id="title" type="text" placeholder="글 제목" name="title" value="{{my_post.title}}">
                            </p>
                            <p id="content_container">
                                <textarea id="content" rows="5" cols="30" name="contents">{{my_post.contents}}</textarea>
                            </p>
                            <p id="buttom">
                                <input type="file" name="FileName">
                                <input id="submit" type="submit" name="submit" value="수정😊">
                            </p>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>
</html>