{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{%static 'mainpage.css'%}">
</head>
<body>
    <div class="nav">
        <div class="login">
            {%if user.is_authenticated%}
                <p>{{p.nickname}}님 안녕하세요</p>
                <a href="{%url 'logout' %}">
                    <button id="login">로그아웃</button>
                </a>
            {%else%}
                <a href="{%url 'login'%}">
                    <button id="login">로그인</button>
                </a>
            {%endif%}
        </div>
    </div>
    <div class="logo-container">
        <img id="ssgga-logo" src="./static/img/logo.png" alt="SSGGA">
    </div>

    <div class="search-bar-container">
        <div class="search">
            {%csrf_token%}
            <form method="get" action="{%url 'searchcafe'%}">
                <input type="text" class="searchTerm" placeholder="카페명을 검색해주세요" aria-label="Search" name = "b" value="{{b}}">
                <button type="submit" id="searchButton">
                    <img id="search-icon" src="./static/img/searchimg.png" alt="search">
                </button>
            </form>     
        </div>
    </div>
    
    <div id="cafe-container">

        <div id="cafe-example-container">
            <div class="cafe-example"><img class = "fake_icon" src="https://recipe1.ezmember.co.kr/cache/recipe/2018/08/06/889e51fc737aa8eb420ce237ce95dcf9.jpg"></div>
            <div class="cafe-example"><img class = "fake_icon" src="https://image.chosun.com/sitedata/image/201912/01/2019120100017_0.png"></div>
            <div class="cafe-example"><img class = "fake_icon" src="https://img.danawa.com/prod_img/500000/947/992/img/2992947_1.jpg?shrink=500:500&_v=20200212121605"></div>
            <div class="cafe-example"><img class = "fake_icon" src="https://image.chosun.com/sitedata/image/202005/22/2020052201547_0.png"></div>
        </div>

        <div id="cafe-real-container">
            {%for d in mycafe%}
                <a href="{% url 'cafemain' d.id %}">
                    <div class="cafe-real">
                        <img id = "cafe_icon" src={{d.image.url}}>
                    </div>
                </a>
            {%endfor%}
                <div class="cafe_usermade"><a href="{%url 'createcafe'%}"><img id="plus" src="/static/img/plus.png" alt="plus"></a></div>
        </div>
    </div>
</body>
</html>
