body{
    background: #f2f2f2;
  }
.nav{
    justify-content: space-between;
    display: flex;
}
.SSGGAlogo img{
    width: 200px;
}  
.login{
    text-align: right;
    margin-top: 15px;
}
#login {
    background-color: #a29bfe;
    border: none;
    color: black;
    padding: 10px 17px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    }
.search form{
    width: 100%;
    /* position: relative; */
    display: flex;
    }
    
    .searchTerm {
    width: 100%;
    font-size: 18px;
    border: 3px solid #a29bfe;
    border-right: none;
    padding: 2px;
    padding-left: 8px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    }
    #cafe_img{
        margin-top: 1px;
        height: 149px;
        width: 149px;
        border-radius: 10px;
    }
    
    .searchButton {
    width: 60px;
    height: 50px;
    border: 1px solid rgb(93, 152, 160);
    background: #a29bfe;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    }

    #search-icon {
        width: 90%;
    }

    .wrap{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.cafe{ 
    position: relative;
    top: 250px;
    left: 26%;
    font-size: 50px;
}
.cafe *.first{
    text-align: center;
    font-size: 30px;
    display: flex;   
    margin-bottom: 20px;
}
.first{
    display: inline-flex;
    
}
.exp_1{
    width: 550px;
    height: 150px;
    /* border: 3px solid #a29bfe;
    border-radius: 10px; */
    font: 100px;
    text-align: left;
    text-decoration: none;
    color: black;
}
.exp_1 h4{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-decoration: none;
}
.exp_1 h5{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.exp_1 h6{
    font-size: 18px;
    margin-top: 30px;
}
a {
    text-decoration: none;
}
.cafe *.cafe_1{
    width: 150px;
    height: 150px;
    border: 1px solid #a29bfe;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

}
h2 {
    position: absolute;
    top: 34%;
    left: 27%;
    font-size: 20px;
}
