{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div class=container>
        <h1>SSGGA</h1>

        <form method="POST">
            {% csrf_token %}
            {% for i in RegisterForm %}
            <div>{{i.label}}</div>
            {{i}}
            {{i.errors}}
            {% endfor %}
            <!-- {{registerform.as_p}} -->
            <!-- <label for="id_username">ID</label>
            <br>
            <input type="text" name="username" maxlength="30" autocomplete="username" autocapitalize="none" autofocus="" required=""
                id="id_ID">

            <label for="id_password1">PASSWORD</label>
            <br>
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">

            <label for="id_password2">confirm to PASSWORD</label>
            <br>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">

            <label for="id_name">name</label>
            <br>
            <input type="text" name="name" required="" id="id_name">

            <label for="id_birth">birth</label>
            <br>
            <div class="birth">
                <input type="text" class="int" maxlength="4" placeholder="년(4자)" id="id_yy">
                <select id="id_mm" class="sel" aria-label="월">
                    <option value="">월</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <input type="text" class="int" maxlength="2" placeholder="일" id="id_dd">
            </div>

            <label for="id_gender">gender</label>
            <br>
            <select name="gender" class="sel" aria-label="성별" id="id_gender">
                <option value="" selected="">성별</option>
                <option value="M">남자</option>
                <option value="F">여자</option>
            </select>

            <label for="id_phone">phone number</label>
            <br>
            <input type="tel" name="phone" required="" id="id_phone"> -->

            <input type="submit" value="회원가입" id="register_btn">
        </form>
    </div>
</body>

</html>