{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체게시판</title>
    <link rel="stylesheet" href="{% static 'css/cafe_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulletinboard_page.css' %}">
</head>

<body>
    <div class="container">

        <div id="nav-bar">
            <a href="" id="logo"><img src="../taehyeon/logo.png" alt="SSGGA"></a>
            <div id="nav-menu">
                <a href="" id="profile">Profile</a>
                <a href="{% url 'logout' %}" id="log-out">Log Out</a>
            </div>
        </div>
        
        <a href="./cafe_main.html"><div id="main-banner">메인 배너</div></a>

        <div id="content-area">

            <div id="menu-group">
                <div id="info-menu-container">
                    <div id="my-info">
                        <div id="my-picture">
                            <img src="{% static 'img/user_default_img.png' %}" alt="user_img">
                        </div>
                        <h3 id="nick-name">{{ nick_name }}</h3>
                    </div>
                    <div id="my-menu-container">
                        <div class="my-menu"><a href="">내가 쓴 글</a></div>
                        <div class="my-menu"><a href="">댓글 단 글</a></div>
                        <div class="my-menu"><a href="">내 스크랩</a></div>
                    </div>
                </div>
                <div id="menu-container">
                    <div class="cafe-menu">
                        <ul id="favorite-menu"><a href="">즐겨찾는 게시판</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">전체글보기</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">자유게시판</a></ul>
                    </div>
                </div>
            </div>

            <div id="main-group">
                    <div id="bulletinboard-title">
                        전체게시판
                    </div>
                    
                    <div class="bulletinboard-table">
                        <table>
                            <thead>
                                <tr class="table-title">
                                    <th class="number">번호</th>
                                    <th class="article-title">제목</th>
                                    <th class="writer">작성자</th>
                                    <th class="writed-date">작성일</th>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr class="content-table">
                                <td class="number">my_post.number</th>
                                <td class="article-title">my_post.title</th>
                                <td class="writer">my_post.writer</th>
                                <td class="writed-date">my_post.writed_date</th>
                                {% endfor %}

                                <tr class="content-table">
                                    <td class="number">1</th>
                                    <td class="article-title"><a href="">왜 파이썬은 ;를 쓰지 않나요</a></th>
                                    <td class="writer">파이썬싫어요</th>
                                    <td class="writed-date">2020-05-31</th>
                                </tr>
                                <tr class="content-table">
                                    <td class="number">2</th>
                                    <td class="article-title"><a href="">Django 너무 어려워요</a></th>
                                    <td class="writer">ㅠㅜ</th>
                                    <td class="writed-date">2020-05-31</th>
                                </tr>
                                <tr class="content-table">
                                    <td class="number">3</th>
                                    <td class="article-title">int 묻고 double로 가!</th>
                                    <td class="writer">철용좌</th>
                                    <td class="writed-date">2020-05-31</th>
                                </tr>
                                <tr class="content-table">
                                    <td class="number">4</th>
                                    <td class="article-title">송스윗 너무 스윗해요</th>
                                    <td class="writer">S2</th>
                                    <td class="writed-date">2020-05-31</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="writing-div">
                        <a href="{% url createpost %}"><div id="writing-button">글쓰기</div></a>
                    </div>
            </div>

        </div>

    </div>

</body>


</html>