{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체게시판</title>
    <link rel="stylesheet" href="{% static 'css/cafe_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulletinboard_page.css' %}">
</head>

<body>
    <div class="container">

        <div id="nav-bar">
            <a href="{% url 'mainpage' %}" ><img src="{% static 'img/logo.png' %}" alt="SSGGA" id="logo"></a>
            <div id="nav-menu">
                <a href="" id="profile">Profile</a>
                <a href="{% url 'logout' %}" id="log-out">Log Out</a>
            </div>
        </div>

        <a href="{% url 'cafe_main' %}"><div id="main-banner"><img src="{{ banner_image }}" alt=""></div></a>

        <div id="content-area">

            <div id="menu-group">
                <div id="info-menu-container">
                    <div id="my-info">
                        <div id="my-picture">
                            <img src="{{ user_info.image }}" alt="user_img" id="my-picture-size">
                        </div>
                        <h3 id="nick-name">{{ profile.nickname }}</h3>
                    </div>
                    <div id="my-menu-container">
                        <div class="my-menu"><a href="">내가 쓴 글</a></div>
                        <div class="my-menu"><a href="">댓글 단 글</a></div>
                        <div class="my-menu"><a href="">내 스크랩</a></div>
                    </div>
                </div>
                <div id="menu-container">
                    <div class="cafe-menu">
                        <ul id="favorite-menu"><a href="">즐겨찾는 게시판</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">전체글보기</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">자유게시판</a></ul>
                    </div>
                </div>
            </div>

            <div id="main-group">
                    <div id="bulletinboard-title">
                        전체게시판
                    </div>

                    <div class="bulletinboard-table">
                        <table>
                            <thead>
                                <tr class="table-title">
                                    <th class="number">번호</th>
                                    <th class="article-title">제목</th>
                                    <th class="writer">작성자</th>
                                    <th class="writed-date">작성일</th>
                            </thead>
                            <tbody>
                                {% for post in all_post %}
                                    <tr class="content-table">
                                    <td class="number">{{post.id}} </td>
                                    <td class="article-title"><a href="{% url 'post' post.id %}">{{post.title}}</a></td>
                                    <td class="writer">{{post.nickname}}</td>
                                    <td class="writed-date">{{post.created_at}}</td>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="writing-div">
                        <a href="{% url 'createpost' %}"><div id="writing-button">글쓰기</div></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>

</html>