{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Setting</title>
    <link rel="stylesheet" href="{% static 'css/cafe_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/cafe_setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulletinboard_page.css' %}">
</head>

<body>
    <div class="container">

        <div id="nav-bar">
            <a href="{% url 'mainpage' %}" ><img src="{% static 'img/logo.png' %}" alt="SSGGA" id="logo"></a>
            <div id="nav-menu">
                <a href="" id="profile">Profile</a>
                <a href="{% url 'cafe_setting' cafe_id=cafe.id %}" id="setting">Setting</a>
                <a href="{% url 'logout' %}" id="log-out">Log Out</a>
            </div>
        </div>

        <div id="main-banner">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <img src="{{ banner_image }}" alt="배너 이미지를 설정해주세요"/>
                <div id="banner_change_form">
                    {{ banner_form.as_p }}
                    <button type="submit">배너 변경</button>
                </div>
            </form>
        </div>

        <div id="content-area">

            <div id="menu-group">
                <div id="info-menu-container">
                    <div id="my-info">
                        {%if user.is_authenticated%}
                        <div id="my-picture">
                            <img src="{{ profile.image.url }}" alt="user-img" id="my-picture-size">
                            <h3 id="nick-name">{{ profile.nickname }}</h3>
                        </div>
                        {%else%}
                        <div id="my-picture">
                            <img src="images/user_default_img.png" alt="user-img" id="my-picture-size">
                            <h3 id="nick-name">익명</h3>
                        </div>
                        {%endif%}
                    </div>
                    <div id="my-menu-container">
                        <div class="my-menu"><a href="">내가 쓴 글</a></div>
                        <div class="my-menu"><a href="">댓글 단 글</a></div>
                        <div class="my-menu"><a href="">내 스크랩</a></div>
                    </div>
                </div>
                <div id="menu-container">
                    <div class="cafe-menu">
                        <ul id="favorite-menu"><a href="">즐겨찾는 게시판</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">전체글보기</a></ul>
                    </div>
                    <div class="cafe-menu">
                        <ul><a href="">자유게시판</a></ul>
                    </div>
                </div>
                <input type="submit" class="setting-button" id="add-menu" value="게시판 추가">
            </div>

            <div id="main-group">
                <div id="main-content">
                    <div id="main-content">
                        <div id="welcome">
                            <img src="{% static 'img/welcome.jpg' %}" id="welcome-img">
                        </div>
                    </div>
                </div>
                <div class="ad-container">
                    <a href="https://likelion.net/">
                        <img src="{% static 'img/likelion_pnu.png' %}" id="ad">
                        <div id="sponsor">Sponsored</div>
                    </a>
                </div>
                <div id="bulletinboard-title">
                    전체게시판
                </div>
                <div class="bulletinboard-table">
                    <table>
                        <thead>
                            <tr class="table-title">
                                <th class="number">번호</th>
                                <th class="article-title">제목</th>
                                <th class="writer">작성자</th>
                                <th class="writed-date">작성일</th>
                        </thead>
                        <tbody>
                            {% for post in all_post %}
                                <tr class="content-table">
                                <td class="number">{{post.id}} </td>
                                <td class="article-title"><a href="{% url 'post' post.id %}">{{post.title}}</a></td>
                                <td class="writer">{{post.nickname}}</td>
                                <td class="writed-date">{{post.created_at}}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                
            </div>

        </div>

    </div>

</body>

</html>